@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono-Bold.otf');
}
body {
    margin: 0;
    padding: 0;
}
* {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.center {
    text-align: center;
}
.classname {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #FF0000;
    opacity: 0;
    font-size: 5vh;
}
.header {
    opacity: 0;
    height: 5vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-item {
    padding: 5vh;
    color: white;
    text-decoration: none !important;
}
.filter-white {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(79deg) brightness(102%) contrast(102%);
}
.filter-red {
    filter: invert(21%) sepia(86%) saturate(7076%) hue-rotate(355deg) brightness(93%) contrast(119%);
}
.title {
    text-align: center;
    font-size: 3vh;
    font-family: 'SF Mono';
    background-color: rgba(150, 80, 80, 0.278);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    color: rgba(242, 103, 103, 0.79);
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 100px;
    margin-bottom: 5vh;
}
.text {
    font-size: 2.5vh;
    text-align: justify;
}
.about {
    background-color: #141414;
    padding: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    color: #f5f5f7;
}
.image-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.image-bot img {
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    width: 100%;
}
.image-bot-div {
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5vh;
}
.alt {
    font-size: 2vh;
    color: #91918C;
}
.bigger-text {
    font-size: 3vh;
    font-weight: 600;
    text-align: justify;
}
.contact {
    background-color: #f3f6f6;
    padding: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
}
.contact>.text {
    color: #1d1d1f;
}
.contact>.title {
    background-color: rgba(235, 148, 148, 0.697);
    color: #5a0000;
}
/* .animate__animated.animate__zoomIn {
    --animate-delay: 3.9s;
} */

.ig {
    display: flex;
    align-items: center;
    padding: 5vh;
    border-radius: 28px;
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
}

.ig-avt {
    flex: 1; /* Chia đều không gian giữa các phần tử */
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
}

.ig-avt img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover;
}

.ig-info {
    flex: 2; /* Chia nhiều không gian hơn cho phần thông tin */
    text-align: left;
    padding: 0;
    background-color: #0095f6;
}

.ig-id {
    font-weight: 700;
    font-size: 5vh;
    color: #000;
}

.ig-name-pro {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 2.5vh;
}

.ig-name {
    color: #000;
}

.ig-pro {
    color: #91918c;
    margin-left: 10px;
}

.ig-description {
    margin-top: 15px;
    color: #000;
}

.ig-contact {
    flex: 1; /* Chia đều không gian giữa các phần tử */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instagram {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.instagram img {
    width: 24px;
    height: 24px;
}

.visit-btn {
    padding: 10px 20px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: ease 0.25s;
}

.visit-btn:hover {
    background-color: #2a6bb2;
}
.ig-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}